include clipboardmodifier/*.py
include clipboardmodifier/plugins/*.py
include CHANGELOG.txt
include TODO.txt
include setup.py
include ez_setup.py
include man/*.1
exclude clipboardmodifier/plugins/nametoemail.*
exclude clipboardmodifier/plugins/find_people.*
exclude .svn
exclude .hg
prune .svn
prune .hg
